@font-face {
    font-family: VietnamPro;
    src: url("./fonts/VietnamPro.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("./fonts/OpenSans.ttf")
}

a 
{
    background-color: none;
    color: rgb(6, 81, 128);
    text-decoration: none;
    transition: color 1s ease-in-out;
}

a:visited {
    color:rgb(6, 81, 128);
}

a:hover {
    color: lightslategray;
}


body 
{font-family: OpenSans;
    font-size: 13px;
    background-color:rgb(236, 232, 218);
    margin-top: 25px;
    margin-left: 150px;
    margin-right: 300px;
    margin-bottom: 50px;
    line-height: 1.7;
}

h1 {
    font-family: VietnamPro;
    font-weight: bold;
    color:rgb(2, 2, 73);
    font-style: oblique;
    text-align: right;}

h2 {
    font-family:VietnamPro;
    font-weight: bold;
    color:rgb(2, 2, 73);
    font-style: initial}


ul {list-style:none;
}


li .usefullink {
    transition: text-align 2s ease-in 0.5s;
    transition: background-color 2s ease-in 0.5s;
}


li .usefullink:hover{
    text-align: center;
    background-color: white;
}
